
Celeste.xcodeproj/project.xcworkspace/xcuserdata/pastre.xcuserdatad/UserInterfaceState.xcuserstate
Celeste.xcodeproj/project.xcworkspace/xcuserdata/filipe.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store

Celeste.xcodeproj/xcuserdata/pastre.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Celeste.xcodeproj/project.xcworkspace/xcuserdata/pastre.xcuserdatad/
