
Celeste.xcodeproj/project.xcworkspace/xcuserdata/pastre.xcuserdatad/UserInterfaceState.xcuserstate
Celeste.xcodeproj/project.xcworkspace/xcuserdata/filipe.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
